<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <table class="ui table segment">
    <thead>
    <tr class="neutral">
      <th>#</th>
      <th>Navn</th>
      <th>Sejre</th>
      <th>Nederlag</th>
    </tr></thead>
    <tbody>
    <tr  class="neutral">
      <td>1</td>
      <td>Ronnie</td>
      <td>10</td>
      <td>0</td>
    </tr>
    <tr  class="neutral">
      <td>2</td>
      <td>Anders</td>
      <td>0</td>
      <td>10</td>
    </tr>
    </tbody>
  </table>

  <b>{{msg}}</b>

</body>
</html>