<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<div class="ui modal">
  <div class="column">
    <div class="ui fluid form segment">
      <h3 class="ui header">Submit New Match</h3>
      <div class="two fields">
        <div class="field">
          <label>Player #1</label>
          <input ng-model="home.name" placeholder="Ronnie" type="text">
        </div>
        <div class="field">
          <label>Player #2</label>
          <input ng-model="away.name" placeholder="Anders" type="text">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Player #1 Team</label>
          <input ng-model="home.team" placeholder="Man Utd" type="text">
        </div>
        <div class="field">
          <label>Player #2 Team</label>
          <input ng-model="away.team" placeholder="FC Bayern" type="text">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Player #1 Goals</label>
          <input ng-model="home.goals" placeholder="4" type="text">
        </div>
        <div class="field">
          <label>Player #2 Goals</label>
          <input ng-model="away.goals" placeholder="1" type="text">
        </div>
      </div>
      <div class="ui purple submit button" ng-click="submit()">Submit</div>
    </div>
  </div>

</div>
<h3 class="ui header">Cetrea Fifa Rankings</h3>
<table class="ui table segment">
  <thead>
  <tr class="neutral">
    <th>#</th>
    <th>Name</th>
    <th>GP</th>
    <th>W</th>
    <th>L</th>
    <th>D</th>
    <th>GF</th>
    <th>GA</th>
    <th>+/-</th>
    <th>PTS</th>
    <th>PPG</th>

  </tr></thead>
  <tbody>
  <tr ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}"  ng-repeat="player in players | orderBy:'-PPG'" class="neutral">
    <td>{{$index+1}}</td>
    <td>{{player.PlayerName}}</td>
    <td>{{player.Played = player.Wins + player.Losses + player.Draw}}</td>
    <td>{{player.Wins}}</td>
    <td>{{player.Losses}}</td>
    <td>{{player.Draw}}</td>
    <td>{{player.GoalsFor}}</td>
    <td>{{player.GoalsAgainst}}</td>
    <td>{{player.GoalsFor - player.GoalsAgainst}}</td>
    <td>{{player.Points = player.Wins * 1 + player.Draw*0.5}}</td>
    <td>{{player.PPG = (player.Points / player.Played) | number}}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr><th colspan="11">
    <a class="ui purple button" ng-click="openModal()">Submit New Match</a>
  </th>
  </tr>
  </tfoot>
</table>



<div class="ui horizontal purple icon divider">
  <i class="circular user purple icon"></i>
</div>

</body>
</html>