<p>Welcome to my site. There are many like it but his one is mine. If you're feeling particularily stalky you can check up on the hobby projects I'm working on. Even the code is usually available on Github. Enjoy!</p>

<div class="ui horizontal purple icon divider">
  <i class="circular home purple icon"></i>
</div>

<div>
  <div class="ui three connected items">
    <div class="row">
      <div class="item link" data-content="Hello, I am a pop-up.">
        <div class="content">
          <div class="name">IRC Bot</div>
          <img class="ui medium image" ng-src="{{ircImage}}">
        </div>
      </div>

      <div class="item mysite" ng-click="openProject($event)">
        <div class="content">
          <div class="name">The Site</div>
          <img class="ui medium image" ng-src="{{siteImage}}">
        </div>
      </div>

      <div class="item rpi" ng-click="openProject($event)">
        <div class="content">
          <div class="name">Raspberry Pi</div>
          <img class="ui medium image" ng-src="{{piImage}}">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui horizontal purple icon divider">
  <i class="circular home purple icon"></i>
</div>