<p>This has yet to be implemented but eventually this page will show the wins and losses of the matches played at #ITHivemind on Freenode(yea, we hang on IRC - sue me!)</p>
<div ng-init="init(value)">firebase value is : {{value}}</div>

<div class="ui horizontal purple icon divider">
  <i class="circular bullseye purple icon"></i>
</div>

<table class="ui table segment">
  <thead>
  <tr class="neutral">
    <th>Name</th>
    <th>Level</th>
    <th>Wins</th>
    <th>Losses</th>
  </tr></thead>
  <tbody>
  <tr class="positive">
    <td>DummyPerson</td>
    <td>13</td>
    <td>19</td>
    <td>7</td>
  </tr>

  </tbody>
</table>

<div class="ui horizontal purple icon divider">
  <i class="circular bullseye purple icon"></i>
</div>