<p>This has yet to be implemented but eventually this page will show the wins and losses of the matches played at #ITHivemind on Freenode(yea, we hang on IRC - sue me!)</p>

<div class="ui horizontal purple icon divider">
  <i class="circular bullseye purple icon"></i>
</div>
<table class="ui table segment">
  <thead>
  <tr class="neutral">
    <th>#</th>
    <th>Name</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Level</th>
  </tr></thead>
  <tbody>
  <tr ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" ng-repeat="player in players|orderBy:'-Level'" class="neutral">
    <td>{{$index+1}}</td>
    <td>{{player.PlayerName}}</td>
    <td>{{player.Wins}}</td>
    <td>{{player.Losses}}</td>
    <td>{{player.Level}}</td>
  </tr>
  </tbody>
</table>

<div class="ui horizontal purple icon divider" >
  <i class="circular bullseye purple icon"></i>
</div>