<p>This has yet to be implemented but eventually this page will show the wins and losses of the matches played at #ITHivemind on Freenode(yea, we hang on IRC - sue me!)</p>

<div class="ui horizontal purple icon divider">
  <i class="circular bullseye purple icon"></i>
</div>

<table class="ui table segment">
  <thead>
  <tr><th>Name</th>
    <th>Level</th>
    <th>Wins</th>
    <th>Losses</th>
  </tr></thead>
  <tbody>
  <tr>
    <td>Martin</td>
    <td>1</td>
    <td>None</td>
    <td>None</td>
  </tr>
  <tr class="positive">
    <td>Lite</td>
    <td>3</td>
    <td>4</td>
    <td>1</td>
  </tr>
  <tr class="negative">
    <td>Xty</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Cupcake</td>
    <td>1</td>
    <td>0</td>
    <td>2</td>
  </tr>
  </tbody>
</table>

<div class="ui horizontal purple icon divider">
  <i class="circular bullseye purple icon"></i>
</div>